<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>The Hiding Gills</title>
	<link href="https://fonts.googleapis.com/css?family=Fira+Code&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="/css/styles.css">
</head>
<body>
	<div class="header">
		<div class="title">
			<h1><a href="/">🍄 The Hiding Gills</a></h1>
			<h3>Confirmation key for {{ guide.name }}</h3>
		</div>
	</div>

	<div class="main">
		<div id="error" class="error"></div>
		<form id="invite-guide">
			<div>
				<label>Confirmation Key:</label>
				<input type="text" name="key" placeholder="Key" value="{{ guide.key }}" readonly/>
			</div>
			<div class="info">
				<h4>What should I do with this?</h4>
				<p>Send this key to the creator of the guide {{ guide.name }}
				to confirm your participation.</p>
				<p>They can input your confirmation key at
				Home->My guides->This guide->Confirm.</p>
				<p>Once your peer has added this key and you have introduced
				their confirmation key, you will be able to collaborate in a
				joint guide.</p>
			</div>
			<div class="buttons">
				<a class="button primary" href="/">Done</a>
			</div>
		</form>
	</div>
	
	<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
	<script>
		var thisGuide = {% if guide %}{{ guide | json }}{% else %}null{% endif %};
	</script>
</body>
</html>
