<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>The Hiding Gills</title>
	<link href="https://fonts.googleapis.com/css?family=Fira+Code&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="/css/styles.css">
</head>
<body>
	<div class="header">
		<div class="title">
			<h1><a href="/">🍄 The Hiding Gills</a></h1>
			<h3>Confirm user for collaborative guide {{ guide.name }}</h3>
		</div>
	</div>

	<div class="main">
		<div id="error" class="error"></div>
		<form id="confirm-guide">
			<div>
				<label>Confirmation Key:</label>
				<input type="text" name="key" placeholder="Key"/>
			</div>
			<div class="info">
				<h4>Where can I find the key?</h4>
				<p>When the invited user joined your guide, they received a confirmation key. Ask them to
				send if to you over a secure channel.</p>
				<p>If they lost it, they can get it again in Home->My guides->Guide->Confirm.</p>
				</p>
			</div>
			<div class="buttons">
				<input class="button primary" type="submit" value="Confirm User!"/>
				<a class="button secondary" href="/">Go back</a>
			</div>
		</form>
	</div>
	
	<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
	<script>
		function confirmGuide(e) {
			e.preventDefault()
			let data = {
				key: e.target.elements.key.value
			}
			axios.post('/api/guides/confirm', data).then(()=>{
				window.location.href = '/'	
			}).catch( e => {
				let error = document.getElementById('error')
				error.className = 'error active'
				error.innerHTML = e.response.data.error
			})
		}

		let form = document.getElementById('confirm-guide');
		if (form.attachEvent) {
			form.attachEvent("submit", confirmGuide);
		} else {
			form.addEventListener("submit", confirmGuide);
		}
	</script>
</body>
</html>
