<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>The Hiding Gills</title>
	<link href="https://fonts.googleapis.com/css?family=Fira+Code&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="/css/styles.css">
</head>
<body>
	<div class="header">
		<div class="title">
			<h1><a href="/">🍄 The Hiding Gills</a></h1>
			<h3>Create a new collaborative guide</h3>
		</div>
	</div>

	<div class="main">
		<div id="error" class="error"></div>
		<form id="new-guide">
			<div>
				<label>Name:</label>
				<input type="text" name="name" placeholder="Name"/>
			</div>
			<div>
				<label>Description:</label>
				<input type="text" name="description" placeholder="Description"/>
			</div>
			<div class="buttons">
				<input class="button primary" type="submit" value="Save Guide!"/>
				<a class="button secondary" href="/">Go back</a>
			</div>
		</form>
	</div>
	
	<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
	<script>
		function createNewGuide(e) {
			e.preventDefault()
			let data = {
				name: e.target.elements.name.value,
				description: e.target.elements.description.value
			}
			axios.post('/api/guides/new', data).then(()=>{
				window.location.href = '/'	
			}).catch( e => {
				let error = document.getElementById('error')
				error.className = 'error active'
				error.innerHTML = e.response.data.error
			})
		}

		let form = document.getElementById('new-guide');
		if (form.attachEvent) {
			form.attachEvent("submit", createNewGuide);
		} else {
			form.addEventListener("submit", createNewGuide);
		}
	</script>
</body>
</html>
