<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>The Hiding Gills</title>
	<link href="https://fonts.googleapis.com/css?family=Fira+Code&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="/css/styles.css">
</head>
<body>
	<div class="header">
		<div class="title">
			<h1><a href="/">🍄 The Hiding Gills</a></h1>
			<h3>Delete this guide</h3>
		</div>
	</div>

	<div class="main">
		<div id="error" class="error"></div>
		<form id="delete-guide">
			<div>
				Are you sure you want to delete the guide {{ guide.name }}?
			</div>
			<div class="buttons">
				<input class="button primary" type="submit" value="Delete Guide!"/>
				<a class="button secondary" href="/">Go back</a>
			</div>
		</form>
	</div>
	
	<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
	<script>
		var thisGuide = {% if guide %}{{ guide | json }}{% else %}null{% endif %};

		function deleteGuide(e) {
			e.preventDefault()
			axios.delete('/api/guides/{{guide.slug}}').then(()=>{
				window.location.href = '/'	
			}).catch( e => {
				let error = document.getElementById('error')
				error.className = 'error active'
				error.innerHTML = e.response.data.error
			})
		}

		let form = document.getElementById('delete-guide');
		if (form.attachEvent) {
			form.attachEvent("submit", deleteGuide);
		} else {
			form.addEventListener("submit", deleteGuide);
		}
	</script>
</body>
</html>
