<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>The Hiding Gills</title>
	<link href="https://fonts.googleapis.com/css?family=Fira+Code&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="/css/styles.css">
</head>
<body>
	<div class="header">
		<div class="title">
			<h1><a href="/">🍄 The Hiding Gills</a></h1>
			<h3>{{ error }}</h3>
		</div>
	</div>
</body>
</html>
