<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>The Hiding Gills</title>
	<link href="https://fonts.googleapis.com/css?family=Fira+Code&display=swap" rel="stylesheet">
	<link
		 rel="stylesheet"
		 href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
		 integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
		 crossorigin=""/>
	<link rel="stylesheet" href="/css/styles.css">
</head>
<body>
	<div class="header">
		<div class="title">
			<h1><a href="/">🍄 The Hiding Gills</a></h1>
			<h3>A P2P mushroom forager's map</h3>
		</div>
		<div class="menu">
			<span class="icon" style="background-color:{{ color }}">{{ emoji }}</span>
			<span class="username">{{ username }}</span>
		</div>
	</div>
	<div id="mapid"></div>
	
	{% if guide %}
		<div class="guide">
			<h4>📔 About this guide:</h4>
			<h2>{{ guide.name }}</h2>
			<p>{{ guide.description }}</p>
		</div>
	{% endif %}
	
	<div class="guides">
		<div class="header">
			<div class="title">
				<h2>My guides</h2>
			</div>
			<div class="menu">
				<a href="/guide/new">create</a> |
				<a href="/guide/join">join</a>
			</div>
		</div>
		<div class="guide-list">
		{% for g in guides %}
			<div class="guide-item {{ g.status | downcase }}">
				<div class="bar">
					<a href="/guide/{{ g.slug }}/delete">delete</a> |
					<a href="/guide/{{ g.slug }}/edit">edit</a> |
					<a href="/guide/{{ g.slug }}/invite">invite</a> |
					<a href="/guide/{{ g.slug }}/confirm">confirm</a>
				</div>
				<h3>📔 <a href="/guide/{{ g.slug }}">{{ g.name }}</a></h3>
				<p class="description">{{ g.description }}</p>
				<p class="small">created by: {{ g.createdBy }}</p>
				<p class="small">created on: {{ g.createdOn | date:"%a, %b %d, %y" }}</p>
				<!-- TODO: add number of contributors to a guide -->
				<p class="small">contributors: {{ g.contributors | json | count }}<p>
			</div>
		{% endfor %}
		</div>
	</div>

	<!-- TODO: remove CDN packages -->
	<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
	<script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
					integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
					crossorigin=""></script>
	<script>
	var thisGuide = {% if guide %}{{ guide | json }}{% else %}null{% endif %};
	var allGuides = {% if guides %}{{ guides | json }}{% else %}[]{% endif %};
	</script>
	<script src="/js/script.js"></script>
</body>
</html>
