:root {
	font-family: 'Fira Code', monospace;
	--color-pastel-orange: #ffd3ac;
	--color-pastel-yellow: #fdffb5;
	--color-pastel-green: #b9ffba;
	--color-dark: #222;
	--color-pastel-red: #ffb0b0;
	--color-pastel-green2: #89e3a0;
}

* {
	box-sizing: border-box;
}

input {
	font-family: 'Fira Code', monospace;
}

body {
	margin: 0;
	padding: 0;
}

#mapid {
	height: 75vh;
}

.header {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-between;
}

body > .header {
	height: 100px;
}

.header .title {
	flex: 1;
	padding: 15px;
}

.header .title a,
.header .title a:link,
.header .title a:hover,
.header .title a:active, 
.header .title a:visited {
	color: black;
	text-decoration: none;
}

.header .title h1,
.header .title h3 {
	margin: 0;
	padding: 0;
}

.header .title h3 {
	margin-left: 55px;
}

.header .menu {
	flex: 0;
	display: flex;
	flex-wrap: nowrap;
	align-items: center;
	padding: 15px;
}

.header .menu .icon {
	box-sizing: content-box;
	display: inline-block;
	width: 20px;
	height: 20px;
	border-radius: 50%;
	font-size: 20px;
	padding: 8px 10px 12px;
}

.header .menu .username {
	margin-left: 10px;
}

.guide {
	width: 100%;
	padding: 15px;
	background-color: var(--color-dark);
	color: #fff;
}

.guide h2 {
	margin: 0;
}

.guide p {
	margin: 0;
}

.guides {
	padding: 15px;
}

.guides > .header {
	flex-wrap: nowrap;
	justify-content: space-between;
}

.guides h2 {
	margin: 0;
}

.guide-list {
	display: flex;
	flex-wrap: wrap;
}

.guide-list .guide-item {
	margin: 15px;
	padding: 15px;
	box-shadow: 1px 2px 5px 0px rgba(0,0,0,0.2);
}

.guide-list .guide-item.main {
	background-color: var(--color-pastel-yellow);
}

.guide-list .guide-item.contributor {
	background-color: var(--color-pastel-green);
}

.guide-list .guide-item.awaiting {
	background-color: var(--color-pastel-orange);
}

.guide-list .guide-item .bar {
	display: block;
	text-align: right;
	font-size: 12px;
}

.guide-list .guide-item h3 {
	margin: 0;
}

.guide-list .guide-item p.description {
	margin: 0 0 10px;
}

.guide-list .guide-item p.small {
	font-size: 12px;
	margin: 0;
}

.leaflet-popup {
}

.leaflet-popup h2 {
	font-family: 'Fira Code', monospace;
}


.leaflet-popup ul {
	list-style: none;
	margin: 10px 0px 0px 0px;
	padding: 0px;
}

.leaflet-popup ul li {
    display: inline-block;
    margin: 2px;
    font-size: 12px;
    background: #e1e8f1;
    padding: 0px 5px;
}


/* GUIDE CREATION FORM */
.main {
	width: 500px;
	margin: auto;
}

.main .error {
	display: none;
	padding: 30px;
	background-color: var(--color-pastel-red);
	box-shadow: 1px 2px 5px 0px rgba(0,0,0,0.2);
}

.main .error.active {
	display: block;
}

.main form {
	margin: 50px auto;
	background-color: var(--color-pastel-yellow);
	padding: 30px;
	box-shadow: 1px 2px 5px 0px rgba(0,0,0,0.2);
}

.main form > div {
	margin: 15px;
}

.main form > div > label {
	display: block;
}

.main form > div > input[type='text'] {
	width: 100%;
}

.main form > div > input[type='submit'] {
	margin-top: 30px;
}

.main form > div.info h4 {
	margin: 15px 0 10px;
}

.main form > div.info p {
	margin: 10px 0;
	font-size: 14px;
}

div.buttons {
	text-align: right;
}


/* GENERICS */

.button {
	margin: 0;
	display: inline-block;
	color: black;
	border: none;
	outline: none;
	padding: 15px 25px;
	box-shadow: 1px 2px 5px 0px rgba(0,0,0,0.3);
	font-family: 'Fira Code', monospace;
	font-size: 16px;
	text-decoration: underline;
	cursor: pointer;
	background-color: #ffffff;
}

.button:hover {
	background-color: #f0f0f0;
}

.button.primary {
	background-color: var(--color-pastel-green);
}

.button.primary:hover {
	background-color: var(--color-pastel-green2);
}

.button.secondary {
	background-color: var(--color-pastel-orange);
}

.button.secondary:hover {
	background-color: var(--color-pastel-red);
}


